ADMIN_PASSWORD = "mbj172007"

# Configuração SMTP para envio de notificações (Gmail App Password)
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "juliani.mmj@gmail.com"
SMTP_PASSWORD = "coloque_aqui_a_senha_de_app_gerada_no_google"
ADMIN_EMAIL = "juliani.mmj@gmail.com"
